<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="APITest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <APITest.Properties.Settings>
            <setting name="APITest_LegacyServiceReference_WebService" serializeAs="String">
                <value>http://localhost:63840/WebServices/WebService.asmx</value>
            </setting>
            <setting name="APITest_Eurogarage_Eurogarage" serializeAs="String">
                <value>http://localhost:63840/WebServices/Eurogarage.asmx</value>
            </setting>
        </APITest.Properties.Settings>
    </applicationSettings>
</configuration>